/* STUFF */

html {
    scroll-behavior: smooth;
}

:root {
    --main: #272D33;
    --tGray: #272d33c2;
    /* --iframeT: #272d33e7; */
    --iframeT: #ffffffd7;
    --tran: #ffffffb7;

/* https://bouncecss.bookie0.repl.co/ */
/* https://bouncecss.bookie0.repl.co/bounce.css */
/* <link href="https://bouncecss.bookie0.repl.co/bounce.css" rel="stylesheet" type="text/css"/> */

    --white: #ffffff;

    --light-gray: #EFEFEF;
    --gray: #D8D8D8;
    --dark-gray: #5E5E5E;

    --black: #000000;

    /* --cyan-dark: #28A489;
    --cyan-normal: #70F1D5;
    --cyan-light: #CAFFF3; */

    /* --pink-dark: #AB4787;
    --pink-normal: #E065B3;
    --pink-light: #FFB0E2; */

    /* --yellow-dark: #C9B951;
    --yellow-normal: #FAE560;
    --yellow-light: #FFF6BE; */

    /* --blue-dark: #468DB6;
    --blue-normal: #54B8F3;
    --blue-light: #B4E3FF; */

    /* --purple-dark: #643F9B;
    --purple-normal: #9260DE;
    --purple-light: #CDAEFD; */
}

/* ::-webkit-scrollbar {
    width: 8px;
    outline: 1px solid var(--black); 
}
::-webkit-scrollbar-track {
    background: var(--light-gray);
}
::-webkit-scrollbar-thumb {
    background: var(--cyan-normal);
    border-radius: 20px;
    outline: 1px solid var(--black);
} */

a.f {
    text-decoration: none;
    color: var(--white); /* color: var(--black); */
    font-size: 16px;
    padding: 2px 4px;
    border-radius: 2px;
    transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5), box-shadow 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5);
    width: fit-content;
    background: var(--main); /* background: var(--white); */
    line-height: 20px;
    outline: 1px solid var(--black);
    display: inline-block;
}
a.f:hover, a:focus-visible {
    outline: 1px solid var(--black);
    transform: translateX(3px) translateY(-3px);
    box-shadow: -3px 3px 0 0 var(--gray), -3px 3px 0 1px var(--black);
}
a.f:hover, a:focus-visible {
    outline: 1px solid var(--black);
    transform: translateX(3px) translateY(-3px);
    box-shadow: -3px 3px 0 0 var(--gray), -3px 3px 0 1px var(--black);
}



div {
    border-radius: 25px;
}
footer {
    border-radius: 25px;
}
iframe {
    border-radius: 3px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Parallax */

.parallax, .parallaxText, .parallaxBase {
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;  
}
.parallax, .parallaxText {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
.parallax {
    height: 300px;
}
.parallaxCity {
    background-image: url("./images/City.jpeg"); 
}



/* NAV BAR STUFF */

#nav {
    /* font-family: Helvetica; */
    font-family: 'Comfortaa';
    background-color: var(--main);
    color: white;
    font-size: 32px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

#nav button {
    /* font-family: Helvetica; */
    font-family: 'Comfortaa';
    background-color: var(--main);
    color: white;
    font-size: 32px;
    padding: 5px;
    border-radius: 15px;
}

#nav .items:hover {
    background-color: gray;
    opacity: 0.5;
}



/* Project */

#PJtext .B-holder button {
    font-family: Helvetica;
    padding: 10px;
    background-color: var(--main);
    color: white;
    font-size: 20px;
    border-radius: 15px;
}
#PJtext .B-holder button:hover {
    background-color: gray;
    opacity: 0.5;
}