div {
    border-radius: 25px;
}

/* NAV STUFF */

#nav {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

#nav button {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
    border-radius: 15px;
}

#nav.items:hover {
    background-color: gray;
    opacity: 0.5;
}

/* PJ BUTTONS */

.e button {
    font-family: Helvetica;
    font-size: 20px;
    padding: 3px;
    width: 175px;
    background-color: #272D33;
    color: white;
    border-radius: 15px;
}

.e button:hover {
    background-color: gray;
    opacity: 0.5;
}