/* NAV STUFF */

#nav {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

#nav button {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
}

#nav.items:hover {
    background-color: gray;
    opacity: 0.5;
}
